.HomeWidgetContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #222;
    border-radius: 15px;
    padding: 10px 20px;
    width: fit-content;
    margin: 20px auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

    .header {
        color: #ffffff;
        margin-bottom: 10px;

        .titleavatar {
            width: 32px;
            height: 32px;
            margin-right: 10px;
        }

        .playerName {
            color: #ffeb3b;
        }
    }

    .separator {
        width: 2px;
        height: 40px;
        background-color: #fff;
    }

    .button {
        background-color: #5c5c5c;
        width: 32px;
        height: 32px;
        border-radius: 10px;
        padding: 10px;
        margin: 0 5px;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
        transition: background-color 0.3s;
    }

    .menu {
        display: flex;
        align-items: center;
        background-color: #888;
        border-radius: 10px;
        padding: 5px 10px;
    }

    .widgetitem {
        width: 40px;
        height: 40px;
        margin: 0 5px;
        background-color: #3c3c3c;
        border-radius: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #fff;
        font-size: 20px;
        cursor: pointer;
    }
}