html, body {
    background: transparent;
}

body {
    @font-face {
        font-family: "jfOpenhuninn";
        font-style: normal;
        font-weight: 600;
        src: url("./assets/fonts/jf-openhuninn-2.0.ttf") format("truetype");
    }

    font-family: "jfOpenhuninn", --font-chinese-traditional;

    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;

    margin: 0;
    overflow: hidden;
    line-height: 1.41;
    letter-spacing: 0.5px;
    // background-color: #10002B;
}

:root {
    // ???
    // background: radial-gradient(118.21% 58.11% at 16.76% 37.71%, rgba(141, 92, 223, 0.72) 3.76%, rgba(24, 24, 24, 0.72) 76.75%);
    --font-chinese-traditional: {
        Whitney,
        "Microsoft JhengHei",
        微軟正黑體,
        "Microsoft JhengHei UI",
        "Microsoft YaHei",
        微軟雅黑,
        宋体,
        SimSun,
        "Helvetica Neue",
        Helvetica,
        Arial,
        sans-serif
    }
}