.pathsContainer {

    width: 100%;

    .title {
        margin: 0;
        color: #fff;
        font-size: 55px;
    }

    .subtitle {
        margin: 0;
        margin-bottom: 32px;
        color: #D8D8D8;
        font-size: 20px;
    }

    .inputContainer {

        display: flex;
        justify-content: flex-start;
        align-items: center;
        box-sizing: border-box;

        margin-bottom: 30px;

        padding-right: 60px;

        .text {
            margin: 0;
            // margin-right: 10px;
            color: #D8D8D8;
            font-size: 25px;
            width: 130px;
        }

        .inputText {

            width: 100%;

            background: #0B0B0B;
            border-radius: 10px;
            padding: 10px;

            display: flex;
            justify-content: flex-start;
            align-items: center;
            gap: 40px;

            border: 2px solid rgba($color: #FFFFFF, $alpha: 0.5);

            input {
                background: transparent;
                border: none;
                border-style: none;
                outline: none;
                color: #fff;
                font-size: 25px;

                width: 100%;
            }

            .fileIcon {

                cursor: pointer;

                transition: all 0.2s linear;

                &:hover {
                    transform: scale(1.05);
                }

                &:active {
                    transform: scale(1);
                }
            }
        }
    }
}