.crashPaybackWrapper {

    width: 100vw;
    height: 100vh;

    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 50;

    background: rgba($color: #000000, $alpha: 0.85);

    display: flex;
    justify-content: center;
    align-items: center;

    .crashPaybackContainer {

        background: #F00;

        width: 60%;
        border-radius: 10px;
        padding: 20px;

        .titleDiv {
            margin: 0;
            color: #fff;
            font-size: 25px;
            margin-bottom: 10px;
        }

        .textContainer {
            
            background: rgb(20, 20, 20);
            border-radius: 10px;
            padding: 10px;

            margin-bottom: 20px;

            .description {
                margin: 0;
                color: #D8D8D8;
                font-size: 18px;
            }
        }

        .buttonContainer {
            text-align: center;
        }
    }
}