.buttonFocusContainer {

    button {

        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        border: none;
        border-radius: 10px;
        padding: 14px 32px;

        color: #fff;

        font-size: 20px;
        line-height: 20px;

        cursor: pointer;
        text-align: center;

        // display: block;
        position: relative;
        z-index: 1;
        overflow: hidden;

        transition: all 0.2s linear;

        &:hover {
            transform: scale(1.03);
        }

        &:active {
            transform: scale(1);
        }
    }
}

.purple {
    
    button {
        background: #A238FF;
    }

    :hover {
        background: #921bf9;
    }

    :active {
        background: #A238FF;
    }

}

.green {
        
    button {
        background: #0A9850;
    }

    :hover {
        background: #098648;
    }

    :active {
        background: #0aa758;
    }
}

.gray {
        
    button {
        background: #1E1E1E;
    }

    :hover {
        background: #252424;
    }

    :active {
        background: #1E1E1E;
    }
}