.setupContainer {
    div {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
    }

    h1 {
        text-align: center;
        margin: 0;
        color: #ffffff;
        font-size: 55px;
    }

    h2 {
        text-align: center;
        margin: 0;
        color: #D8D8D8;
        font-size: 20px;
        // margin-bottom: 20px;
    }

    .versions {
        li {
            margin: 0;
            color: #D8D8D8;
            font-size: 20px;
        }
    }

    .buttonContainer {

        margin-top: 20px;

        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: row;
        gap: 20px;

        button {

            box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    
            background: #A238FF;
            border: none;
            border-radius: 10px;
            display: block;
            color: #fff;
            padding: 16px 32px;
            // width: 120px;
            height: 50px;
            font-size: 20px;
            line-height: 20px;
            cursor: pointer;
            text-align: center;
    
            position: relative;
            z-index: 1;
            overflow: hidden;
    
            transition: all 0.2s linear;
        }
    
        .secondButton {
            font-size: 18px;
            line-height: 18px;
        }
    
        button:hover {
            background: #921bf9;
            transform: scale(1.03);
        }
    
        button:active {
            transform: scale(1);
        }
    
        .secondButton {
            background: #1E1E1E;
            color: #fff;
        }
    
        .secondButton:hover {
            background: #252424;
            transform: scale(1.03);
        }
    
        .secondButton:active {
            transform: scale(1);
        }
    }
}