.serverListContainer {

    width: 60px;
    box-sizing: border-box;

    .focus {

        position: absolute;
        left: -7px;

        background-color: #bdbdbd;

        width: 3px;
        height: 25px;

        border-radius: 10px;

        animation-name: focusAnim;
        animation-duration: 0.2s;
    }

    @keyframes focusAnim {
        from {
            transform: scaleY(0);
        }

        to {
            transform: scaleY(1);
        }
    }

    .homeButton {

        margin-bottom: 10px;

        height: 60px;

        background-color: rgba(16, 16, 16, 0.75);
        padding: 10px;
        border-radius: 100%;

        box-sizing: border-box;

        display: flex;
        justify-content: center;
        align-items: center;

        cursor: pointer;

        transition: all 0.2s linear;

        .homeImg {
            transform: translateY(-1px);
        }
    }

    .homeButton:hover > .homeImg {
        transform: scale(1.05) translateY(-1px);
    }

    .homeButton:active > .homeImg {
        transform: scale(1) translateY(-1px);
    }

    .homeButton:hover {

        .focusHover {
            opacity: 1;
        }

        .homeImg {
            path {
                fill: #A238FF;
            }
        }
    }

    .homeButtonFillA238FF {
        path {
            fill: #A238FF;
        }
    }

    .hr {
        margin: 0 20px;
        border-bottom: 4px solid #ffff;
        border-radius: 5px;
    }

    .listContainer {

        box-sizing: border-box;

        margin-top: 10px;

        background-color: rgba(16, 16, 16, 0.75);
        padding: 13px 10px 13px 10px;
        border-radius: 100px;

        display: flex;
        flex-direction: column;
        gap: 10px;

        .listItem {

            position: relative;

            // margin-bottom: 10px;

            cursor: pointer;

            display: flex;
            justify-content: center;
            align-items: center;

            img {
                display: block;
                width: 40px;
                border-radius: 100%;
                transition: all 0.2s linear;
            }

            img:hover {
                transform: scale(1.05);
            }

            img:active {
                transform: scale(1);
            }

            .focusHover {
                position: absolute;
                left: -7px;

                background-color: #bdbdbd;

                width: 3px;
                height: 10px;

                border-radius: 10px;

                transition: all 0.2s ease-out;

                opacity: 0;
            }
        }

        .listItem:hover>.focusHover {
            opacity: 1;
        }
    }
}